
  <div class="fluid-container page-background">

    <!--Hospitalname navbar-->
    <nav class="text-center navbar navbar-expand navbar-dark">
      <!-- <div class="navbar-brand brand">SAMHAD</div> -->
      <div class="hospital-name">
        SAMHAD Hospitals
      </div>
    </nav>

    <nav class="navbar navbar-component navbar-expand-lg navbar-dark">
      <!-- <a class="home" routerLinkActive="active" routerLink="/home">Home</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav text-center">
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/slotspage" routerLinkActive="active">Doctors</a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/specialists" routerLinkActive="active">Specialists</a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/location" routerLinkActive="active">Location</a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/camps" routerLinkActive="active">Camps</a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/achievements" routerLinkActive="active">Acheivements</a>
          </li>
          <li class="nav-item nav-link-component">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="sign text-center">
          <a class="nav-link login float-right" data-bs-target="#loginModal" data-bs-toggle="modal">login</a>
          <a class="nav-link signup float-right" data-bs-toggle="modal" data-bs-target="#signUpModal">SignUp</a>
     </div>
    </nav>
  
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgb(193, 248, 193);">
      <div class="modal-header">
        <h3 class="modal-title mx-auto" id="exampleModalLabel">Login Page</h3>
        <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">Password:</label>
            <input class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary mx-auto">Login</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgb(193, 248, 193);">
      <div class="modal-header">
        <h3 class="modal-title mx-auto" id="exampleModalLabel">SignUp Page</h3>
        <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" class="form-control" id="phone">
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">Password:</label>
            <input class="form-control" id="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary mx-auto">signUp</button>
      </div>
    </div>
  </div>
</div>

    




        















    </div>
<router-outlet></router-outlet>
